<!-- Config file for the game -->
<!-- L01: TODO 1: Create configuration file-->

<config>
  <app>
    <title> Game Development Testbed </title>
    <organization>UPC</organization>
  </app>

  <renderer>
    <vsync value ="false"/>
  </renderer>
  
  <window>
    <resolution width="1000" height="700" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="true"/>
    <resizable value="true"/>
    <fullscreen_window value="false"/>
    
  </window>
  <audio>
    <music_volume value ="75"/>
    <fx_volume value="50"/>
  </audio>
</config>